<form action="" method="POST" class="form-horizontal" role="form">
        <div class="form-group">
            <legend>{{formTitle}}</legend>
        </div>

        <div class="form-group">
            <label for="" class="col-lg-2">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{buttonValue}}</button>
        </div>
</form>