<h4>{{pageTitle}}</h4>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td></td>
            <td>
                <img [src]='product.image' style="width: 100px">
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-warning" [routerLink]="['detail/' + product.id]">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)='onDelete(product.id)'>
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        <tr *ngIf="products ? products.length == 0 : false">
            <td colspan="5" class="text-center">empty</td>
        </tr>
    </tbody>
</table>
